.schedule-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0;
}

.schedule-page a{
    text-decoration: none;
}

.schedule-container{
    width: 50vw;
}

.schedule-container h2{
    text-decoration: underline;
}

#empty-msg{
    margin: 3vh 0;
}

.button-grp{
    display: flex;
    gap: 20px;
    margin-top: 1vh;
    margin-bottom: 5vh;
}

@media screen and (max-width: 400px){
    .schedule-container{
        width: 90vw;
    }

    .button-grp{
        flex-direction: column;
    }
}