#nash-video{
    position: fixed;
    top: 10vh;
    left: -2.5vw;
    min-width: 100vw;
    min-height: 90vh;
    opacity: 0.9;
    z-index: 1;
    pointer-events: none;
}

.page{
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#home{
    flex-direction: column;
}

#home h1{
    padding: 10px 20px;
    background-color: var(--opac-yellow);
    border-radius: 5px;
}

#about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}


#about .about-text{
    background-color: var(--opac-yellow);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#about .scroll-link{
    font-weight: bold;
    cursor: pointer;
}

#contact{

}

.btn-grp{
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 400px) {
    #about {
        display: flex;
        flex-direction: column;
    }

    #about .about-text{
        min-height: 72vh;
    }
}