#nash-video{
    position: fixed;
    top: 10vh;
    left: -2.5vw;
    min-width: 100vw;
    min-height: 90vh;
    opacity: 0.9;
    z-index: 1;
    pointer-events: none;
}

.page{
    position: relative;
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#home{
    flex-direction: column;
    /* background-color: red; */
}

#home h1{
    padding: 10px 20px;
    background-color: var(--yellow);
    border-radius: 5px;
}

#about{
    /* background-color: greenyellow; */
}

#contact{
    /* background-color: blue; */
}

.btn-grp{
    display: flex;
    gap: 20px;
}