.course-prev{
    display: flex;
    height: 90px;
}

.course-prev .course-info{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow);
    padding: 1vw;
    margin: 1vh 0;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.course-prev .course-info:hover{
    opacity: .9;
    transform: scale(1.005);
    transition: 0.1s ease-in-out;
}

.course-prev .course-info .date-time{
    text-align: right;
}

.course-prev .remove-btn{
    margin-right: -10%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-prev .remove-btn.disable{
    display: none;
}

@media screen and (max-width: 400px){
    .course-prev .course-info{
        width: 90%;
        padding: 10px;
    }

    .course-prev .course-info.disable{
        width: 100%;
    }

     .course-prev .remove-btn{
         margin-left: 10px;
     }
}