.group {
    position: relative;
    padding-top: 30px;
}
.group .form-input {
    box-sizing: border-box;
    background: none;
    background-color: var(--white);
    color: black;
    font-size: 18px;
    font-family: 'Montserrat';
    padding: 10px 10px 10px 0px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
}
.group .form-input:focus {
    outline: none;
}
.group .form-input:focus ~ .form-input-label {
    left: 0;
    bottom: 40px;
    font-size: 12px;
    color: black;
}
.group input[type='password'] {
    letter-spacing: 0.3em;
}
.group .form-input-label {
    color: grey;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    bottom: 10px;
    transition: 300ms ease all;
}
.group .form-input-label.shrink {
    left: 0;
    bottom: 40px;
    font-size: 12px;
    color: black;
}

.form-input.disabled{
    color: gray;
}

.form-input-label.disabled{
    color: gray;
}