.menu-item{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(200, 200, 200, .5);
    margin: 0;
    /* padding-right: 10px; */
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
}

.menu-item:hover{
    background-color: rgba(200, 200, 200, .8);
}

.menu-link{
    margin: 0;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}