.header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    box-sizing: border-box;
    background: -webkit-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); 
    background: -moz-linear-gradient(360deg, #1C1C1C 10%, #494949 360%); background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
    padding: 0 2.5vw;
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    border-bottom: 1px solid rgba(240, 240, 240, 0.2);
}

.logo-container{
    width: 60vw;
    display: flex;
    align-items: center;
    color: var(--white);
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.logo-container .link{
    text-decoration: none;
    color: var(--white);
}

.link-container{
    width: 25vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.link-container .link{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.link:hover{
    opacity: .9;
    color: var(--yellow);
    transition: 0.1s ease-in-out;
}

.profile-pic-container{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 0.8em;
    cursor: pointer;
}

.profile-pic{
    height: 70%;
    border-radius: 50%;
    cursor: pointer;
}

.profile-pic:hover{
    opacity: .9;
}