.myprofile-page{
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    align-items: center;
}

.myprofile-form-container{
    width: 50%;
}

@media screen and (max-width: 400px){
    .myprofile-form-container{
        width: 80vw;
    }
}