.enroll-form h2{
    text-decoration: underline;
}

.course{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.course-input{
    width: 45%;
}

.time{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5vh 0;
}

.days{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5vh;
}