.enroll-form{
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enroll-form form{
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.enroll-form h2{
    text-decoration: underline;
}

.course{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.course-input{
    width: 45%;
}

.time{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-input{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-input input{
    background-color: transparent;
    border: 1px solid var(--dark-gray);
    border-radius: 5px;
    padding: 2px 5px;
}

.days{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.options{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px){
    .enroll-form form{
        width: 80vw;
    }

    .days{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    }
}